body {
	background-color: #282c34;
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.App-logo {
	height: 10vmin;
}

.App-header {
	min-height: 100px;
}

/* Custom */

.User {
	max-width: 60vw;
	margin: 0 auto;
	text-align: left;
}

.User-header {
	text-align: center;
}


.List-table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	overflow-wrap: break-word;
}

.List-table thead {
	height: 32px;
	border-bottom: 1px solid #fff;
}

.List-table td {
	height: 24px;
	padding: 8px 24px 8px 0;
}

.List-table td:nth-child(3) {
	text-align: right;
	padding: 8px;
}

.RepoInfo {
	text-align: left;
	width: 40vw;
	margin: 0 auto;
}

.RepoInfo .header {
	text-align: center;
}

.RepoInfo .title {
	margin: 16px 0;
	font-weight: bold;
}

.RepoInfo .content {
	padding-left: 8px;
}