body {
	background-color: #282c34;
	color: #fff;
}

.App-logo {
	height: 10vmin;
}

.App-header {
	min-height: 100px;
}

/* Custom */

.User {
	width: 60vw;
	margin: 0 auto;
	text-align: left;
}

.User-header {
	text-align: center;
}
